@import 'variables';

.nav {
  padding: 26px 0;
  background: rgba(12, 20, 28, 0.1);
  backdrop-filter: blur(50px);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  transition: .3s;

  &::before {
    content: '';
    height: 1px;
    width: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(252,70,107,0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.fixed {
    padding: 16px 0;

    .logo {
      img {
        max-width: 167px;
      }
    }
  }

  .logo {
    img {
      max-width: 267px;
      transition: .3s;
    }
  }

  .logo-col {
    max-width: 367px;
  }
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 70px;
  li {
    a {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: right;
      color: #FFFFFF;
      transition: .15s;
      position: relative;

      &:before {
        content: '';
        height: 2px;
        width: 0;
        background: #FCD08B;
        position: absolute;
        bottom: -3px;
        left: 0;
        transition: .15s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &.nav-menu-btn {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FCD08B;
        border: 1px solid #FCD08B;
        border-radius: 6px;
        padding: 15px 56px;

        &:before {
          display: none;
        }

        &:hover {
          background: #FCD08B;
          color: #803D28;
        }
      }
    }

    &.nav-menu-group-btn {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }
}

.footer {
  padding: 18px 0 15px;
  background: #803D28;

  &-logo {
    text-align: center;
    img {
      max-width: 247px;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      color: #FCD08B;
      transition: .3s;
      display: block;

      &:hover {
        color: #0C141C;
      }
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;

    li {
      a {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.copy {
  background: #0C141C;
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 14px 0 13px;
  b {
    font-weight: bold;
  }
}
  
.h1 {}
.h2 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 81px;
  text-align: center;
  text-transform: uppercase;
  color: #FCD08B;  
}
.h3 {}
.h4 {}
.h5 {}
.h6 {}

.open-menu {
  display: none;
}


@media screen and (min-width: 1200px) and (max-width: 1919px) {
    
  .nav {
    padding: vw(26px) 0;

    &.fixed {
      padding: vw(16px) 0;

      .logo {
        img {
          max-width: vw(167px);
        }
      }
    }

    .logo {
      img {
        max-width: vw(267px);
      }
    }

    .logo-col {
      max-width: vw(367px);
    }
  }

  .menu {
    gap: vw(70px);
    li {
      a {
        font-size: vw(18px);
        line-height: vw(26px);

        &.nav-menu-btn {
          font-size: vw(18px);
          line-height: vw(24px);
          border-radius: vw(6px);
          padding: 15px vw(56px);
        }
      }

      &.nav-menu-group-btn {
        gap: vw(60px);
      }
    }
  }

  .footer {
    padding: vw(18px) 0 vw(15px);

    &-logo {
      img {
        max-width: vw(247px);
      }
    }

    &-social {
      gap: vw(40px);
    }

    &-menu {
      gap: vw(60px);

      li {
        a {
          font-size: vw(16px);
          line-height: vw(23px);
        }
      }
    }
  }

  .copy {
    font-size: vw(16px);
    line-height: vw(23px);
    padding: vw(14px) 0 vw(13px);
    
  }
    
  .h2 {
    font-size: vw(56px);
    line-height: vw(81px);
  }
}

@import 'homepage';

body {
  overflow-x: hidden;
  background: #0F1922;
  @import 'MediaQueries/main';
}